<div class class="drop-container">
  <div class="labels">Workstation:</div>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Select a workstation</mat-label>
      <mat-select [(ngModel)]="selected" name="workstation">
        <mat-option value="0">{{ defaultText }}</mat-option>
        <mat-option
          *ngFor="let workstation of workstationList"
          value="{{ workstation.workstation_id }}"
        >
          <div (click)="onSelect(workstation)">
            {{ workstation.workstation_name }}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div>
  <div class="labels">
    Number of Seats:
    <span *ngIf="selected != '0'">
      {{ selectedWorkstation!.allSeats }}
    </span>
  </div>
</div>
<button (click)="showPreviewPanel()">Add New Workstation</button>
<button (click)="showEditPanel()" [disabled]="selected == '0'">
  Edit Workstation
</button>
<button [disabled]="selected == '0'" (click)="deleteSelected()">Delete</button>
<button
  *ngIf="!isSelectedDisabled()"
  [disabled]="selected == '0'"
  (click)="disableSelected()"
>
  Disable
</button>
<button
  *ngIf="isSelectedDisabled()"
  [disabled]="selected == '0'"
  (click)="disableSelected()"
>
  Activate
</button>
