<div
  class="wrapper"
  (mouseenter)="toggleCardInfo()"
  (mouseleave)="toggleCardInfo()"
>
  <div class="card">
    <div class="info">
      <div>
        <p>{{ building.building_name }}</p>
        <p>{{ building.building_address }}</p>
      </div>
      <div *ngIf="mouseOverCard" [@fadeInOut]>
        Floors: {{ building.floorCount }} <br />
        Seats: {{ building.seatCount }}
      </div>
    </div>
    <div *ngIf="mouseOverCard" [@fadeInOut] class="action">
      <button
        mat-raised-button
        routerLink="/admin/edit/building/{{ building.building_id }}/floor"
      >
        Manage Floors and Workstations
      </button>
      <button
        mat-raised-button
        routerLink="/admin/edit/building/{{ building.building_id }}"
      >
        Edit Building
      </button>
      <!--add reroutes-->
    </div>
  </div>
</div>
