<div
  class="wrapper"
  (mouseenter)="toggleCardInfo()"
  (mouseleave)="toggleCardInfo()"
>
  <div class="card">
    <div class="info">
      <div>
        <p>{{ building.building_name }}</p>
        <p>{{ building.building_address }}</p>
      </div>
      <div *ngIf="mouseOverCard" [@fadeInOut]>
        Floors: {{ building.floorCount }} <br />
        Seats: {{ building.seatCount }}
      </div>
    </div>
    <div *ngIf="mouseOverCard" [@fadeInOut] class="action">
      <!--add reroutes-->
      <button mat-raised-button>Edit Building</button>
      <button mat-raised-button>Manage Floors <br />and workstations</button>
    </div>
  </div>
</div>
