<div
  class="wrapper"
  (mouseenter)="toggleCardInfo()"
  (mouseleave)="toggleCardInfo()"
>
  <div class="card">
    <div class="info">
      <div>
        <p>{{ building.name }}</p>
        <p>{{ building.address }}</p>
      </div>
      <div *ngIf="mouseOverCard" [@fadeInOut]>
        <p>{{ building.levels }} floors</p>
        <p>{{ building.seats }} seats</p>
      </div>
    </div>
    <div *ngIf="mouseOverCard" [@fadeInOut] class="action">
      <button
        mat-raised-button
        routerLink="/admin/edit/building/{{ building.id }}/floor"
      >
        Manage Floors and Workstations
      </button>
      <button
        mat-raised-button
        routerLink="/admin/edit/building/{{ building.id }}"
      >
        Edit Building
      </button>
    </div>
  </div>
</div>
