select {
  width: 50%;
  padding: auto;
  font-size: 1.3em;
  height: 1.5em;
  background-color: white;
  padding-left: 20px;
  border: 1px solid red !important;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bold;
  transition: background-color 500ms;
}

.ws-list {
  font-size: 1.2em;
}

select:focus {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  transition: background-color 500ms;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 30px 0 0;
}
