.reservation-wrapper {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.455);
  margin: 0 50px;
  padding: 0 30px;
  min-width: 80%;
}

.left,
.center,
.right {
  width: auto;
  font-size: 1rem;
  padding: 20px 20px;
  color: rgba(0, 0, 0, 0.7);
}

.left,
.center {
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 40%;
}

.right {
  min-width: 20%;
}

.panel {
  display: flex;
  justify-content: space-between;
  height: auto;
  text-align: start;
  gap: 10px;
  line-height: 1.5em;
}

.left p,
.center p {
  margin: 0px 30px 0px 0px;
  margin-right: auto;
}

.left .panel .panel-label {
  width: 30%;
}

.left .panel .panel-value {
  width: 70%;
}

.center .panel .panel-label {
  width: 40%;
}

.center .panel .panel-value {
  width: 60%;
}

.right {
  display: grid;
}

.right button {
  align-self: end;
  justify-self: center;
  transform: translateX(-40px);
  position: center;
  height: auto;
  width: auto;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.right button:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}

@media screen and (max-width: 1200px) {
  .reservation-wrapper {
    flex-direction: column;
  }
  .left .panel .panel-label,
  .left .panel .panel-value {
    width: 50%;
  }

  .center .panel .panel-label,
  .center .panel .panel-value {
    width: 50%;
  }
}
