<div *ngFor="let reservation of reservationList" class="reservation-wrapper">
  <div class="left">
    <div class="panel">
      <p class="panel-label"><b>Date:</b></p>
      <p class="panel-value">{{ reservation.reservation_date }}</p>
    </div>
    <div class="panel">
      <p class="panel-label"><b>Place:</b></p>
      <p class="panel-value">{{ reservation.building_address }}</p>
    </div>
    <div class="panel">
      <p class="panel-label"><b>Building:</b></p>
      <p class="panel-value">{{ reservation.building_name }}</p>
    </div>
  </div>
  <div class="center">
    <div class="panel">
      <p class="panel-label"><b>Floor:</b></p>
      <p class="panel-value">{{ reservation.floor_name }}</p>
    </div>
    <div class="panel">
      <p class="panel-label"><b>Workstation:</b></p>
      <p class="panel-value">{{ reservation.workstation_name }}</p>
    </div>
    <div class="panel">
      <p class="panel-label"><b>SeatId:</b></p>
      <p class="panel-value">{{ reservation.seat_id }}</p>
    </div>
  </div>
  <div class="right">
    <button
      mat-button
      class
      (click)="
        [toggleDeleteModal(), setTheReservationId(reservation.reservation_id)]
      "
    >
      Delete
    </button>
  </div>
</div>
<delete-modal
  *ngIf="confirmDelete"
  [reservation]="selectedReservation"
  (deleteReservationEmitter)="deleteReservation($event)"
  (toggleModalEmitter)="toggleDeleteModal()"
></delete-modal>
