<div *ngFor="let reservation of reservationList" class="reservation-wrapper">
  <div class="left">
    <p><b>Date:</b> {{ reservation.reservation_date }}</p>
    <p><b>Place:</b> {{ reservation.building_address }}</p>
    <p><b>Building:</b> {{ reservation.building_name }}</p>
  </div>
  <div class="center">
    <p><b>Floor:</b> {{ reservation.floor_name }}</p>
    <p><b>Workstation:</b> {{ reservation.workstation_name }}</p>
    <p><b>SeatId:</b> {{ reservation.seat_id }}</p>
  </div>
  <div class="right">
    <button
      (click)="
        [toggleDeleteModal(), setTheReservationId(reservation.reservation_id)]
      "
    >
      Delete
    </button>
  </div>
</div>
<delete-modal
  *ngIf="confirmDelete"
  [reservation]="selectedReservation"
  (deleteReservationEmitter)="deleteReservation($event)"
  (toggleModalEmitter)="toggleDeleteModal()"
></delete-modal>
