<div class="building-header">
  <h2>Choose another city</h2>
  <select (change)="onChange()" [(ngModel)]="selectedCityValue">
    <option *ngFor="let city of cityList; let i = index" [value]="city.city">
      {{ city.city }}
    </option>
  </select>
  <button mat-raised-button routerLink="/admin/create/building">
    Create Building
  </button>
</div>
<div class="building-selector">
  <button (click)="scrollLeft()">&#60;</button>
  <div #cardContent class="cards">
    <building-card
      *ngFor="let building of buildingList"
      [building]="building!"
    ></building-card>
  </div>
  <button (click)="scrollRight()">&#62;</button>
</div>
