<div>
  <form [formGroup]="newWorkstationForm" (ngSubmit)="onSubmit()">
    <label for="workstationName">Name:</label>
    <input
      type="text"
      name="workstationName"
      id="workstationName"
      formControlName="workstation_name"
      required
      [(ngModel)]="selectedWorkstationToEdit!.workstation_name"
    />
    <br />
    <br />
    <input
      type="submit"
      name="addButton"
      id="addButton"
      value="Edit workstation"
      [disabled]="!newWorkstationForm.valid"
    />
  </form>
  <button (click)="goToWorkstationManagement()">Go Back</button>
  <button (click)="clickToClosePanel()">Cancel</button>
</div>
