<div class="wrapper">
  <div class="default-tab">
    <h2 class="user-name">{{ user.user_name }}</h2>
    <h2 class="res-count">{{ user.res_count }} bookings</h2>
    <div class="buttons">
      <mat-slide-toggle
        [color]="color"
        title="{{ blockTitle }}"
        [checked]="user.user_isBlocked"
      ></mat-slide-toggle>
      <span
        class="material-icons"
        style="transform: rotate(180deg)"
        (click)="toggleInfo($event)"
      >
        arrow_circle_up
      </span>
    </div>
  </div>
  <div
    *ngIf="displayUserInfo"
    [@collapse]="displayUserInfo"
    class="info-extension"
  >
    <div class="login">
      <h3>{{ user.user_login }}</h3>
    </div>
    <div class="extension-buttons">
      <div class="promote">
        <p>promote to admin</p>
        <mat-slide-toggle
          [color]="color"
          title="{{ blockTitle }}"
          [checked]="user.user_isAdmin"
        ></mat-slide-toggle>
      </div>
      <div class="block">
        <p>{{ blockTitle }}</p>
        <mat-slide-toggle
          [color]="color"
          title="{{ blockTitle }}"
          [checked]="user.user_isBlocked"
        ></mat-slide-toggle>
      </div>
      <div class="delete">
        <p>Delete user</p>
        <button (click)="toggleDeleteModal()">X</button>
      </div>
    </div>
    <div class="res-tab">
      <h2>Show Reservations</h2>
      <span
        class="material-icons"
        style="transform: rotate(180deg)"
        (click)="toggleReservations($event)"
      >
        arrow_circle_up
      </span>
    </div>
  </div>
  <div
    class="reservation-list-wrapper"
    *ngIf="displayUserReservations"
    [@collapse]="displayUserReservations"
  >
    <reservation-list></reservation-list>
  </div>
  <div class="delete-modal-wrapper" *ngIf="confirmDelete">
    <div class="delete-modal">
      <h2>Delete {{ user.user_name }}</h2>
      <div class="confirm">
        <h3>
          Are you sure you want to delete {{ user.user_name }} /
          {{ user.user_login }}
          ?
        </h3>
        <div class="modal-buttons">
          <button (click)="deleteUser($event)" value="{{ user.id }}">
            Delete
          </button>
          <button (click)="toggleDeleteModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
