<div class="nav-container">
  <nav>
    <img class="logo" routerLink="/" src="../assets/logo-new.png" alt="" />
    <div class="link-wrapper">
      <a class="nav-link" routerLink="/register">Sign Up</a>
      <a class="nav-link" routerLink="/login">Login</a>
    </div>
  </nav>
</div>
<!-- DASHBOARD AND FOOTER TEMPORARY INSERTED IN THE NAVPANEL FOR RENDER PURPOSE -->
<div class="dashboard-container">
  <dashboard></dashboard>
</div>
<div class="footer-container">
  <footer-panel></footer-panel>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
