<h1>Confirm Booking</h1>
<div class="confirm-card">
  <div class="left">
    <div class="labels">
      <p>Place:</p>
      <p>Building:</p>
      <p>Floor:</p>
      <p>Workstation:</p>
      <p>SeatId:</p>
      <p>Date:</p>
    </div>
    <div class="values">
      <p>{{ resData!.building_address }}</p>
      <p>{{ resData!.building_name }}</p>
      <p>{{ resData!.floor_name }}</p>
      <p>{{ resData!.workstation_name }}</p>
      <p>{{ resData!.seat_id }}</p>
      <p>{{ resData!.reservation_date }}</p>
    </div>
  </div>
  <div class="right">
    <button mat-raised-button (click)="confirmReservation()">Confirm</button>
    <button mat-raised-button (click)="editReservation()">Edit</button>
    <button mat-raised-button (click)="cancelReservation()">Cancel</button>
  </div>
</div>
