<div class="footer-container">
  <footer>
    <a class="footer-links" routerLink="">Community</a>
    <a class="footer-links" routerLink="">Company</a>
    <img
      class="drudge-logo"
      routerLink="/"
      src="../assets/logo-new.png"
      alt="Drudge House logo"
    />
    <a class="footer-links" routerLink="">Help</a>
    <a class="footer-links" routerLink="">Blog</a>
  </footer>
  <div class="icons-container">
    <img class="icons" routerLink="/" src="../assets/facebook_icon_2.png" />
    <img class="icons" routerLink="/" src="../assets/instagram_icon_2.png" />
    <img class="icons" routerLink="/" src="../assets/twitter_icon_2.png" />
  </div>
</div>
