<div class="footer-container">
  <footer>
    <a class="footer-links" routerLink="">Community</a>
    <a class="footer-links" routerLink="">Company</a>
    <img
      class="drudge-logo"
      routerLink="/"
      src="../assets/logo-new.png"
      alt="Drudge House logo"
    />
    <a class="footer-links" routerLink="">Help</a>
    <a class="footer-links" routerLink="">Blog</a>
  </footer>
  <div class="circle-container">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>
