.nameOfBuilding {
	margin-left: 50px;
	margin-top: 50px;
	display: inline-block;
}

.noFloorsSign {
	text-align: center;
	font-size: 1.4em;
	margin: 50px 0 0 0;
}

.addFloorContainer {
	margin: 50px 0 0 50px;
}