<div class="nav-panel">
  <div class="left">
    <img src="../../../assets/logo-new.png" />
    <h1 routerLink="buildings">Admin Land</h1>
  </div>
  <div class="center">
    <button mat-button routerLink="buildings">Buildings</button>
    <button mat-button routerLink="users">Users</button>
  </div>
  <div class="right">
    <button mat-raised-button routerLink="/">Main Page</button>
    <button mat-raised-button (click)="signOut()">Sign Out</button>
  </div>
</div>
<router-outlet></router-outlet>
