.nav-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
  background-color: white;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.left {
  margin: 0 30px;
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  height: 5rem;
  max-height: 6rem;
  box-shadow: 0 0 8px 8px white inset;
}

.left h1 {
  cursor: pointer;
  padding-left: 20px;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: red;
}

.center,
.right {
  margin: 30px;
  display: flex;
  gap: 10px;
  width: 33.333%;
}

.center {
  display: flex;
  justify-content: flex-start;
}

.center button {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.center button:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right button {
  font-size: 20px;
}

.right button:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
