<div class="dashboard-container">
  <section>
    <div class="content-containers">
      <p class="invite-text">
        Working with us and you will feel like you are working from home.
      </p>
      <div class="join-container">
        <a class="join" routerLink="/register"> Join today </a>
      </div>
    </div>
    <div class="content-containers">
      <img class="main-picture" src="../assets/main.png" alt="" />
    </div>
  </section>
  <section *ngIf="loggedIn">
    <dashboard-cities class="dashboard-cities"></dashboard-cities>
  </section>
  <section *ngIf="!loggedIn">
    <dashboard-cities class="dashboard-cities"></dashboard-cities>
    <dashboard-cities class="dashboard-cities"></dashboard-cities>
  </section>
</div>
<div>
  <footer-panel></footer-panel>
</div>
