<div class="dashboard-container">
  <section>
    <div class="content-containers">
      <p class="invite-text">
        Working with us and you will feel like you are working from home.
      </p>
      <div class="join-container">
        <a class="join" routerLink="/register"> Join today </a>
      </div>
    </div>
    <div class="content-containers">
      <img class="main-picture" src="../assets/main.png" alt="" />
    </div>
  </section>
  <div class="select-wrapper">
    <section *ngIf="loggedIn">
      <admin-building class="dashboard-cities"></admin-building>
    </section>
    <div *ngIf="!loggedIn" class="default-wrapper">
      <h2>{{ cityOne }}</h2>
      <div class="building-selector">
        <button (click)="scrollLeft()">&#60;</button>
        <div #cardContent class="cards">
          <building-card
            *ngFor="let building of buildingListOne"
            [building]="building!"
          ></building-card>
        </div>
        <button (click)="scrollRight()">&#62;</button>
      </div>
      <div>
        <h2>{{ cityTwo }}</h2>
        <div class="building-selector">
          <button (click)="scrollLeft()">&#60;</button>
          <div #cardContent class="cards">
            <building-card
              *ngFor="let building of buildingListTwo"
              [building]="building!"
            ></building-card>
          </div>
          <button (click)="scrollRight()">&#62;</button>
        </div>
      </div>
    </div>
  </div>
  <footer-panel></footer-panel>
</div>
