<div class="container">
  <div class="form-wrapper">
    <h2>SIGN IN</h2>
    <p>Not member yet ? Please register <span routerLink="/register">here !</span> </p>
    <form #f="ngForm">
      <!-- EMAIL -->
      <label for="email">e-mail / user name:</label>
      <input type="email" name="email" id="email" placeholder="Enter e-mail or user login ..." ngModel required email
        #email="ngModel">
      <!-- USER PASSWORD -->
      <label for="password">Password:</label>
      <div class="password-box">
        <input [type]="attribute" name="password" id="password" placeholder="Enter password ..." ngModel minlength="8"
          required #password="ngModel">
        <div [ngClass]=[visibility] (click)="toogle()"></div>
      </div>
      <!-- BUTTON -->
      <button type="submit">SIGN IN</button>
    </form>
  </div>
</div>