<div class="container">
  <div class="form-wrapper">
    <h2>SIGN IN</h2>
    <p>
      Not member yet ? Please register
      <span routerLink="/register">here !</span>
    </p>
    <form #f="ngForm" (ngSubmit)="signIn(f)">
      <!-- EMAIL -->
      <label for="email">e-mail / user name:</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Enter e-mail or user login ..."
        ngModel
        required
        #email="ngModel"
      />
      <!-- USER PASSWORD -->
      <label for="password">Password:</label>
      <div class="password-box">
        <input
          [type]="attribute"
          name="password"
          id="password"
          placeholder="Enter password ..."
          ngModel
          minlength="8"
          required
          #password="ngModel"
        />
        <div [ngClass]="[visibility]" (click)="toogle()"></div>
      </div>
      <p *ngIf="invalidInput" class="invalid-input">
        E-mail / user name or password is wrong!
      </p>
      <!-- BUTTON -->
      <button type="submit" [disabled]="!f.valid">SIGN IN</button>
    </form>
  </div>
</div>
