button {
  width: 33.3%;
  margin: 0px;
  padding: 0px;
  max-height: 50%;
  min-height: 50%;
  background-color: #66de90;
  justify-content: center;
  outline: none;
  position: relative;
  border: 0.1px solid rgb(65, 65, 65);
  font-size: 16px;
}

button:disabled {
  background-color: #ef2c1e;
  color: rgb(255, 255, 255);
}

button .taken-seat {
  padding: 0px 10px;
  margin: 0px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-weight: bold;
}

button .on-hover {
  margin: 0px;
  padding: 0px 10px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-weight: bold;
}

button:not([disabled]):hover {
  transition: filter 300ms;
  filter: brightness(120%);
  cursor: pointer !important;
  margin: 0px;
}

button:not([disabled]):hover .on-hover::after {
  content: 'Book Now!';
  margin: 0px;
}

.checked {
  background-color: rgb(255, 255, 67);
}

.checked .on-hover::after {
  content: 'Selected';
}

.checked:hover .on-hover::after {
  content: 'Unselect a seat' !important;
}

.seat {
  border-radius: 3px;
  max-height: 50%;
}
