button {
  width: 33.3%;
  margin: 0px;
  padding: 0px;
  height: 50%;
  background-color: #99ee87;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
  border: 0.1px solid rgb(65, 65, 65);
  font-size: 16px;
}

button:disabled {
  background-color: #ec5b5d;
  color: black;
}

button p {
  position: relative;
  padding: 0px 10px;
  margin: 0px;
}

button:not([disabled]):hover {
  filter: brightness(120%);
  cursor: pointer !important;
  margin: 0px;
}

button:not([disabled]):hover p::after {
  content: 'Book Now!';
  margin: 0px;
}

.checked {
  background-color: orange;
}

.checked p::after {
  content: 'Selected';
}

.checked:hover p::after {
  content: 'Unselect a seat' !important;
}

.seat {
  border-radius: 3px;
}
