.form-selector {
  margin: 25px 0 25px 0px;
  display: flex;
  justify-content: flex-end;
  margin-right: 9%;
}

.left {
  display: flex;
  width: 40%;
  margin-right: 5%;
}

.left-side-of-left-panel {
  width: 40%;
}

.left-side-of-left-panel h2 {
  padding: 10px;
  color: rgb(72, 72, 72);
  font-size: 18px;
}

.left-side-of-left-panel p {
  font-size: 25px;
  padding: 15px;
}

.right {
  width: 50%;
  max-height: 20em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  overflow-y: scroll;
  border-radius: 5px;
}

seats {
  width: 100%;
}

.book-button {
  float: right;
  margin: 10px 13% 10px 87%;
  height: 40px;
  width: 150px;
  font-size: 1.2em;
  padding: auto;
}

button:not([disabled]):hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
