<workstation-tab
  (selectedWorkstation)="onSelection($event)"
  [(canceledOnTab)]="canceled"
  [wsList]="workstations"
></workstation-tab>
<div *ngIf="showForm()">
  <workstation-form
    [selectedWS]="selectedWs"
    (reservation)="onSubmit($event)"
  ></workstation-form>
</div>
<div *ngIf="showing">
  <div class="modalBackground">
    <confirm-modal
      *ngIf="!confirmed"
      (editEmitter)="onEdit($event)"
      (cancelEmitter)="onCancel($event)"
      (confirmEmitter)="onConfirm($event)"
      [resData]="reservationData"
    ></confirm-modal>
    <div class="confirmed" *ngIf="confirmed">
      <h2>Reservation Confirmed</h2>
      <!--ADD ROUTE TO SOME COMPONENT-->
      <a routerLink="/">Go Home</a>
    </div>
  </div>
</div>
