<div>
  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header (click)="toggleExpand()">
      <mat-panel-title>
        <span class="floor-name"> {{ floor.floor_name }} </span>
      </mat-panel-title>
      <mat-panel-description>
        <span class="preview-numbers"
          >{{ floor.workstation.length }} workstations
        </span>
        <span class="preview-numbers">/ {{ allSeats }} seats</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="panelOpenState">
      <workstation-management
        (deleteEmitter)="onDeleteClick($event)"
        (disableEmitter)="onDisableClick($event)"
        [workstationList]="floor.workstation"
        [(successfullConfirmOnManagement)]="successfullConfirm"
        (showPreviewEmitter)="switchPanels()"
        (showEditEmitter)="showEditPanel($event)"
        *ngIf="!addWorkstationPanel && floor.workstation.length != 0"
      >
      </workstation-management>
      <workstation-preview-input
        (closePanel)="closePanelFromChild()"
        (showManagementEmitter)="switchPanels()"
        (newWorkstationEvent)="addWorkstation($event)"
        *ngIf="isEditVisible() || floor.workstation.length == 0"
      ></workstation-preview-input>
      <workstation-preview-edit
        (closePanel)="closePanelFromChild()"
        (showManagementEmitter)="showManagementPanel()"
        *ngIf="editWorkstationPanel"
        [selectedWorkstationToEdit]="selectedWorkstationToEdit"
      ></workstation-preview-edit>
    </div>
  </mat-expansion-panel>
</div>
<div *ngIf="confirmDeleteValue" class="confirm-modal">
  <confirm-delete
    [selectedWorkstation]="selectedWorkstation"
    [status]="status"
    (cancelEmitter)="cancel($event)"
    (confirmEmitter)="confirm($event)"
  >
  </confirm-delete>
</div>
