<div >
	<!-- Add tomat-expansion-panel. This work only for all at once:  [(expanded)]="panelOpenState" -->
	<mat-expansion-panel [expanded]="panelOpenState"
	>
		<mat-expansion-panel-header (click)="toggleExpand()">
			<mat-panel-title>
				<span>Floor name: {{floor.floor_name}} </span>
			</mat-panel-title>
			<mat-panel-description>
				<span>{{floor.workstations.length}} workstations </span>
				<span>/ seats</span>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div *ngIf="panelOpenState">
			<workstation-management (disableEmitter)="onDisableClick($event)" [workstationList]="floor.workstations" [floorList]="floors" *ngIf="floor.workstations.length != 0">
			</workstation-management>
			<br>
			<br>
			<workstation-preview-input (closePanel)="closePanelFromChild($event)" (newWorkstationEvent)="addWorkstation($event)"
				*ngIf="previewMenuVisible"></workstation-preview-input>
		</div>
	</mat-expansion-panel>
</div>

<!-- CONFIRM DELETE -->
<div *ngIf="confirmDeleteValue" class="confirm-modal">
	<confirm-delete [selectedWorkstation]="selectedWorkstation"  [status]="status" (cancelEmitter)="cancel($event)" (confirmEmitter)="confirm($event)">
	</confirm-delete>
</div>