<div *ngFor="let floor of floorList; let i = index;">
	<mat-expansion-panel [(expanded)]="panelOpenState">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<span>Floor name: {{floor.floor_name}} </span>
			</mat-panel-title>
			<mat-panel-description>
				<span>{{floor.workstations.length}} workstations </span>
				<span>/ seats</span>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<workstation-management [workstationList]="floor.workstations" [floorList]="floors" *ngIf="floor.workstations[i]">
		</workstation-management>
		<br>
		<br>
		<workstation-preview-input (closePanel)="closePanelFromChild()" (newWorkstationEvent)="addWorkstation(i, $event)"
			*ngIf="previewMenuVisible"></workstation-preview-input>
		<workstation-crossroad (switchComponents)="switchManagementAndPreview()" *ngIf="!previewMenuVisible">
		</workstation-crossroad>

	</mat-expansion-panel>
</div>

<div *ngIf="confirmDeleteValue" class="confirm-modal">
	<confirm-delete (cancelDeleteEmitter)="cancelDelete($event)" (confirmDeleteEmitter)="confirmDelete($event)">
	</confirm-delete>
</div>