<div class="wrapper">
  <div class="default-tab">
    <h2 class="user-name">{{ user.user_name }}</h2>
    <h2 class="res-count">{{ user.reservationCount }} bookings</h2>
    <div class="buttons">
      <mat-slide-toggle
        [color]="color"
        [(ngModel)]="isBlocked"
        matTooltip="{{ blockTitle }}"
        [matTooltipPosition]="'right'"
        (click)="[blockUnblockUser(), setTheBlockTitle()]"
      ></mat-slide-toggle>
      <span
        class="material-icons"
        style="transform: rotate(180deg)"
        (click)="toggleInfo($event)"
      >
        arrow_circle_up
      </span>
    </div>
  </div>
  <div
    *ngIf="displayUserInfo"
    [@collapse]="displayUserInfo"
    class="info-extension"
  >
    <div class="login">
      <h3>{{ user.user_login }}</h3>
    </div>
    <div class="extension-buttons">
      <div class="promote">
        <p>{{ promoteTitle }}</p>
        <mat-slide-toggle
          (click)="[promoteDemoteUser()]"
          [color]="color"
          matTooltip="{{ promoteTitle }}"
          [matTooltipPosition]="'right'"
          [(ngModel)]="isAdmin"
        ></mat-slide-toggle>
      </div>
      <div class="block">
        <p>{{ blockTitle }}</p>
        <mat-slide-toggle
          (click)="[blockUnblockUser()]"
          [color]="color"
          matTooltip="{{ blockTitle }}"
          [matTooltipPosition]="'right'"
          [(ngModel)]="isBlocked"
        ></mat-slide-toggle>
      </div>
      <div class="delete">
        <p>Delete user</p>
        <button mat-raised-button color="warn" (click)="toggleDeleteModal()">
          X
        </button>
      </div>
    </div>
    <div class="res-tab">
      <h2>Show Reservations</h2>
      <span
        class="material-icons"
        style="transform: rotate(180deg)"
        (click)="toggleReservations($event)"
      >
        arrow_circle_up
      </span>
    </div>
  </div>
  <div
    class="reservation-list-wrapper"
    *ngIf="displayUserReservations"
    [@collapse]="displayUserReservations"
  >
    <reservation-list [userId]="user.user_id!"></reservation-list>
  </div>
  <delete-modal
    *ngIf="confirmDelete"
    (deleteUserEmitter)="onDeleteUser($event)"
    [user]="user"
    (toggleModalEmitter)="onCancelModal($event)"
  ></delete-modal>
</div>
