<workstation-tab
  (selectedWorkstation)="onSelection($event)"
  [(canceledOnTab)]="canceled"
  [workstationList]="workstations"
  (seats)="pushSeatsToLocalArray()"
></workstation-tab>
<div *ngIf="showForm()">
  <workstation-form
    [seatListFromParent]="seatListToSend"
    [selectedWorkstation]="selectedWorkstation"
    (reservation)="onBookClick($event)"
    (dateToRequestSeats)="receiveDateToPushSeats($event)"
  ></workstation-form>
</div>
<div *ngIf="modalVisibility">
  <div class="modal-background">
    <confirm-modal
      *ngIf="!confirmed"
      (editEmitter)="onEdit($event)"
      (cancelEmitter)="onCancel($event)"
      (confirmEmitter)="onConfirm($event)"
      [resData]="reservationData"
      [selectedWorkstation]="selectedWorkstation"
    ></confirm-modal>
    <div class="confirmed" *ngIf="!closed">
      <h2 *ngIf="success">Reservation Confirmed</h2>
      <h2 *ngIf="!success">Reservation could not be completed</h2>
      <button mat-raised-button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
