html {
  background: rgb(177, 0, 0);
  background: linear-gradient(
    142deg,
    rgba(177, 0, 0, 1) 0%,
    rgb(158, 7, 7) 49%,
    rgba(254, 207, 207, 1) 100%
  );
  padding: 0;
}
body {
  margin: 0;
}
