<div *ngIf="loggedIn" class="building-header">
  <h2>Choose another city</h2>
  <select
    class="select-city"
    (change)="onChange()"
    [(ngModel)]="selectedCityValue"
  >
    <option
      class="city"
      *ngFor="let city of cityList; let i = index"
      [value]="city.city"
    >
      {{ city.city }}
    </option>
  </select>
</div>
<div class="building-selector">
  <button (click)="scrollLeft()">&#60;</button>
  <div #cardContent class="cards">
    <dashboard-card
      *ngFor="let building of buildingList"
      [building]="building!"
    ></dashboard-card>
  </div>
  <button (click)="scrollRight()">&#62;</button>
</div>
