<div>
	<form [formGroup]="newWorkstationForm" (ngSubmit)="onSubmit()">
		<label for="workstationName">Name:</label>
		<input type="text" name="workstationName" id="workstationName" formControlName="workstation_name" required>
		<br>
		<label for="seatsNumber">Number of seats:</label>
		<input type="text" name="seatsNumber" id="seatsNumber" formControlName="seats" required>
		<br>
		<input type="submit" name="addButton" id="addButton" value="Add workstation" [disabled]="!newWorkstationForm.valid">
	</form>
	<button (click)="clickToClosePanel()">Cancel</button>
</div>