<div>
  <form [formGroup]="newWorkstationForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="workstationName">Name:</label>
      <input
        type="text"
        name="workstationName"
        id="workstationName"
        formControlName="workstation_name"
        required
      />
    </div>
    <div class="input-container">
      <label for="seatsNumber">Number of seats:</label>
      <input
        type="number"
        name="seatsNumber"
        id="seatsNumber"
        formControlName="allSeats"
        required
      />
    </div>
    <input
      type="submit"
      name="addButton"
      id="addButton"
      value="Add workstation"
      [disabled]="!newWorkstationForm.valid"
    />
  </form>
  <button (click)="goToWorkstationManagement()">Go Back</button>
  <button (click)="clickToClosePanel()">Cancel</button>
</div>
