<building-new (newBuildingEvent)="addBuilding($event)"></building-new>
<building-list [buildingList]="buildings"></building-list>

<!-- <form >
	<div>
		<h3>Create building</h3>
		<label for="nameOfBuilding">name: </label>
		<input type="text" name="nameOfBuilding" id="nameOfBuilding" placeholder={{buildings[1].building_name}} formControlName="building_id">
		<br>
		<label for="postalCode">postal code:</label>
		<input type="text" name="postalCode" id="postalCode" placeholder={{buildings[1].building_zip}} formControlName="building_zip">
		<br>
		<label for="state">state:</label>
		<input type="text" name="state" id="state" placeholder={{buildings[1].building_state}} formControlName="building_state">
		<br>
		<label for="city">city:</label>
		<input type="text" name="city" id="city" placeholder={{buildings[1].building_city}} formControlName="building_city">
		<br>
		<label for="adress">adress:</label>
		<input type="text" name="adress" id="adress" placeholder={{buildings[1].building_address}} formControlName="building_address">
		<br>
    <label for="buildingImage">image:</label>
		<input type="text" name="buildingImage" id="buildingImage" >
		<br>		
		<a routerLink="floor"><button type="submit">Create</button></a><button type="submit">Cancel</button>
    <br>
    <button>Edit workstations</button>
	</div>
</form>
<br>
<br> -->