<div class="newBuildingContainer">
	<form [formGroup]="newBuildingForm" (ngSubmit)="onSubmit()">
		<div>
			<h3>New building</h3>
			<label for="buildingId">id: </label>
			<input type="text" name="buildingId" id="buildingId" formControlName="building_id" required>
			<br>
			<label for="nameOfBuilding">name: </label>
			<input type="text" name="nameOfBuilding" id="nameOfBuilding" formControlName="building_name" required>
			<br>
			<label for="zipCode">zip code:</label>
			<input type="text" name="zipCode" id="zipCode" formControlName="building_zip" required>
			<br>
			<label for="state">state:</label>
			<input type="text" name="state" id="state" formControlName="building_state" required>
			<br>
			<label for="city">city:</label>
			<input type="text" name="city" id="city" formControlName="building_city" required>
			<br>
			<label for="adress">adress:</label>
			<input type="text" name="adress" id="adress" formControlName="building_address" required>
			<br>
			<label for="buildingImage">image:</label>
			<input type="text" name="buildingImage" id="buildingImage">
			<br>
			<!-- <a routerLink="floor"><button type="submit" >Create</button></a> -->

			<a [routerLink]="[getBuildingId]"><button type="submit" [disabled]="!newBuildingForm.valid">Create</button></a>

			<button type="button" routerLink="/buildings">Cancel</button>
			<br>
		</div>
	</form>
	<br>
	<br>
</div>
<building-list></building-list>