<div *ngFor="let reservation of reservationList" class="reservation-wrapper">
  <div class="left">
    <p><b>Date:</b> {{ reservation.res_date }}</p>
    <p><b>Place:</b> {{ reservation.building_address }}</p>
    <p><b>Building:</b> {{ reservation.building_name }}</p>
  </div>
  <div class="center">
    <p><b>Floor:</b> {{ reservation.floor_name }}</p>
    <p><b>Workstation:</b> {{ reservation.workstation_name }}</p>
    <p><b>SeatId:</b> {{ reservation.seat_id }}</p>
  </div>
  <div class="right">
    <button (click)="toggleDeleteModal()">Delete</button>
  </div>
  <div class="delete-modal-wrapper" *ngIf="successfullDelete">
    <div class="delete-modal">
      <h2>Delete reservation</h2>
      <div class="confirm">
        <h3>Are you sure you want to delete this reservation ?</h3>
        <div class="modal-buttons">
          <button
            value="{{ reservation.id }}"
            (click)="deleteReservation($event)"
          >
            Delete
          </button>
          <button (click)="toggleDeleteModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
